<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>CORRELATION_ID</includeMdcKeyName>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="no.nav.helse.flex" level="INFO" additivity="false">
        <appender-ref ref="stdout_json"/>
    </logger>
    <logger name="org.springframework" level="INFO"/>
</configuration>
